@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Arimo');

h1, h2, h3 {
    color: #c6213f !important;
    font-family: 'Arimo', sans-serif !important;
    text-transform: uppercase !important;
}

.text_cell {
    font-family: 'Questrial', sans-serif !important;
}